:host {
  display: block;
  height: 100%;
  box-sizing: border-box;
  padding: 10px 5px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
}


.row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.grow {
  flex-grow: 1;
}

.item-actions {
  justify-content: flex-end;
}

.new-item-content {
  padding: 0 16px;
}

.new-item-input {
  padding: 0 8px;
}
