<div class="column">
  <div class="header">
    <h3 class="title">Tags management</h3>
  </div>

  <div class="row">
    <mat-form-field class="grow">
      <mat-label>Search</mat-label>
      <input matInput [formControl]="searchControl">
      <button *ngIf="searchControl.value"
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="clearSearch()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="actions">
      <button mat-button
              mat-icon-button
              [disabled]="!(selected | mapper: getSelectedTags)?.length"
              (click)="assignTags()">
        <mat-icon matTooltip="Assign selected tags on employees">assignment_ind</mat-icon>
      </button>
    </div>
    <div class="actions">
      <button mat-button
              mat-icon-button
              [disabled]="!(selected | mapper: getSelectedTags)?.length"
              (click)="onRemoveSelected()">
        <mat-icon matTooltip="Remove selected">delete</mat-icon>
      </button>
    </div>
  </div>


  <mat-list-item>
    <div class="new-item-content row grow">
      <mat-checkbox [disabled]="true"></mat-checkbox>
      <mat-form-field class="new-item-input">
        <mat-label>New Tag</mat-label>
        <input matInput
               [formControl]="newTagControl"
               (keyup.enter)="addNewTag()"
               (keyup.space)="addNewTag()">
      </mat-form-field>
    </div>
  </mat-list-item>
  <mat-selection-list (selectionChange)="onSelectionChange($event)" color="primary">
    <mat-list-option *ngFor="let tag of tags| filter: filterByQuery: searchControl.value"
                     checkboxPosition="before"
                     color="primary"
                     [value]="tag"
                     [selected]="selected[tag]">
      <div class="row grow">
        <div>{{tag}}</div>
        <div class="item-actions row grow">
          <button mat-icon-button (click)="onRemoveTag($event, tag)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-list-option>
  </mat-selection-list>
</div>

