@import '../../styles/variables';

:host {
  display: block;
  position: relative;
  overflow: hidden;
}

.table-wrapper {
  overflow: hidden;
  position: relative;
  height: 100%;

  &::after {
    content: '';
    position: absolute;
    right: -55px;
    top: 0;
    bottom: 0;
    width: 55px;
    box-shadow: -35px 13px 30px 15px rgba(255, 255, 255, 0.85);

  }
}

.scroll-holder {
  height: 100%;
  overflow: auto;
}

.table {
  height: 100%;
  width: 100%;
}

.row {
  padding: 10px 5px;
}

.cell,
.head {
  padding: 10px 5px;
  min-width: 120px;

  &_age {
    min-width: 50px;
  }

  &_remove {
    padding-right: 16px;
    text-align: end;
    min-width: 24px;
    z-index: 1;
    position: relative;
  }
}

.remove-icon {
  cursor: pointer;
}

.tag {
  cursor: pointer;
  user-select: none;
}

.row {
  &:hover {
    cursor: pointer;
    background-color: #eaeaea;
  }
}

.paginator {
  position: sticky;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
}

@media (max-width: @s) {
  .cell {
    padding: 10px 5px;
    min-width: 50px;
    max-width: 150px;
  }
}
