<div class="table-wrapper">
  <div class="scroll-holder">
    <table class="table"
           mat-table
           matSort
           [dataSource]="employees"
           (matSortChange)="sortData($event)">

      <!-- Name Column -->
      <ng-container matColumnDef="name" [sticky]="true">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
        <td class="cell" mat-cell *matCellDef="let element">{{element.name}} </td>
      </ng-container>

      <!-- Tags Column -->
      <ng-container matColumnDef="tags">
        <th align="center" mat-header-cell *matHeaderCellDef>Tags</th>
        <td class="cell" mat-cell *matCellDef="let element">
          <mat-chip-list aria-label="Tags">
            <mat-chip *ngFor="let tag of element.tags"
                      class="tag"
                      (click)="onTagClicked($event, tag)">{{tag}}</mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>

      <!-- Age Column -->
      <ng-container matColumnDef="birthDate">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Birth Date</th>
        <td class="cell cell_age" mat-cell *matCellDef="let element">{{element.birthDate | mapper: formatDateString}}</td>
      </ng-container>

      <!-- Phone Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Phone</th>
        <td class="cell" mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>

      <!-- Location Column -->
      <ng-container matColumnDef="location">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Location</th>
        <td class="cell" mat-cell *matCellDef="let element">{{element.location}} </td>
      </ng-container>

      <!-- Remove Column -->
      <ng-container matColumnDef="remove">
        <th class="head head_remove"  mat-header-cell *matHeaderCellDef>Remove</th>
        <td class="cell cell_remove" mat-cell *matCellDef="let element">
            <mat-icon class="remove-icon"
                      matTooltip="Remove employee"
                      (click)="onRemove($event, element)">delete</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: large | async"></tr>
      <tr class="row" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onEmployeeClicked(row)"></tr>
    </table>
  </div>
</div>

<mat-paginator class="paginator"
               showFirstLastButtons
               [length]="totalCount"
               [pageSizeOptions]="[20, 50, 100]"
               (page)="onPageEvent($event)"></mat-paginator>
