@import '../../styles/variables';

:host {
  display: block;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 73.56px;
}

.row {
  flex-direction: row;

  .column-item + .column-item {
    margin-left: 20px;
  }
}

.row,
.column {
display: flex;
}

.grow {
  flex-grow: 1;
}


.right {
  float: right;
}

@media (max-width: @s) {
  .column_s {
    flex-direction: column;

    .column-item + .column-item {
      margin-left: 0;
      margin-top: 20px;
    }
  }

  .content {
    justify-content: flex-start;
    align-items: stretch;
  }
}
