<div class="content row column_s">
  <mat-form-field class="column-item input search grow">
    <mat-label>Search</mat-label>
    <input [formControl]="searchControl"
           matInput
           type="text">
    <button *ngIf="searchControl.value"
            mat-button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="clearSearch()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <div class="row grow column-item">
    <tags-autocomplete class="input grow tags-autocomplete"
                       placeholder="Tags filter"
                       [tags]="allTags"
                       [selected]="tags"
                       (searchTags)="onSearchTags($event)"
                       (tagRemove)="onTagRemove($event)"
                       (tagsChanged)="onTagsChange($event)"></tags-autocomplete>
    <button mat-icon-button (click)="manageTags()">
      <mat-icon matTooltip="Manage tags">filter_list</mat-icon>
    </button>
  </div>
</div>
