<mat-form-field class="input">
  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let tag of selected"
      [selectable]="false"
      [removable]="true"
      (removed)="removeTag(tag)">
      {{tag}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
        #tagsInput
        [placeholder]="placeholder"
        [formControl]="control"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="onTokenEnd($event)"
        (click)="onInputClick()">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
    <mat-option *ngFor="let tag of tags | filter: isAvailable : control.value : selected" [value]="tag">
      <span>{{tag}}</span>
      <button class="right" mat-icon-button (click)="onRemove($event, tag)">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
