<div mat-dialog-content>
  <h3>{{data.title}}</h3>
  <mat-form-field class="input">
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let employee of selected"
        [selectable]="false"
        [removable]="true"
        (removed)="remove(employee)">
        {{employee.name}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
          #tagsInput
          placeholder="Select employees"
          [formControl]="searchControl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
      <mat-option *ngFor="let employee of employees$ | async | filter: isAvailable : selected" [value]="employee">
        {{employee.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-flat-button [mat-dialog-close]="null">Cancel</button>
  <button mat-button color="primary" cdkFocusInitial [mat-dialog-close]="selected">Accept</button>
</div>
