@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '../../styles/variables';

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  background-color: #eaeaea;
  overflow: hidden;
}

.content {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  min-height: 0;
}

@media (min-width: @m) {
  :host {
    height: 100%;
  }
}

