@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

:host {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

