<div class="column"
     [formGroup]="form">
  <ng-container *ngIf="!isEmpty; else emptyTemplate">
    <div class="info">
      <avatar class="avatar"
              color="#eaeaea"
              [name]="employee.name"></avatar>
      <h2 class="heading">Details</h2>
    </div>
    <div class="column">
      <mat-form-field class="input">
        <mat-label>Name</mat-label>
        <input #nameInput
               tabindex="0"
               formControlName="name"
               matInput
               type="text">
      </mat-form-field>

      <mat-form-field class="input">
        <mat-label>Birth Date</mat-label>
        <input formControlName="birthDate"
               matInput
               [matDatepicker]="datepicker">
        <mat-datepicker-toggle matSuffix
                               [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="input">
        <mat-label>Phone</mat-label>
        <input formControlName="phone"
               matInput
               type="tel"
               placeholder="Ex. +372 1234 5678"
               [textMask]="{mask: mask, guide: false}">
      </mat-form-field>
      <mat-form-field class="input">
        <mat-label>Location</mat-label>
        <mat-select formControlName="location">
          <mat-option value="Tallinn">Tallinn</mat-option>
          <mat-option value="Riga">Riga</mat-option>
          <mat-option value="Vilnius">Vilnius</mat-option>
        </mat-select>
        <button *ngIf="form.value.location"
                mat-icon-button
                matSuffix
                (click)="clearLocation($event)">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
      <tags-autocomplete class="input"
                         [tags]="allTags"
                         [selected]="employee.tags"
                         (searchTags)="onSearchTags($event)"
                         (tagRemove)="onTagRemove($event)"
                         (tagsChanged)="onTagsChange($event)"></tags-autocomplete>
    </div>
  </ng-container>
</div>

<ng-template #emptyTemplate>
  <div class="empty">Click a row on the left to view employee details <span>or click "Add employee" button to create new one!</span>
  </div>
</ng-template>

