:host {
  display: block;
  height: 100%;
}

.info {
  display: flex;
  padding-bottom: 15px;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 100px;
  height: 100px;
  font-size: 24px;
}

.heading {
  margin-top: 5px;
  text-transform: uppercase;
  letter-spacing: 7px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 100%;

  & + & {
    margin-top: 10px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;

  & + & {
    margin-left: 10px;
  }
}

.empty {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 16px;
  color: rgba(#000, 0.3);
  text-align: center;
  white-space: normal;
}
