<mat-sidenav-container class="container"
                       (backdropClick)="closeTagsManagement()">
  <mat-sidenav position="end"
               mode="over"
               [fixedInViewport]="true"
               [fixedTopGap]="0"
               [fixedBottomGap]="0"
               [opened]="tagsManagementOpened$ | async">
    <tags-management-smart *ngIf="tagsManagementOpened$ | async" class="tags-management"></tags-management-smart>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-sidenav-container class="container">
      <mat-sidenav *ngIf="large$ | async | mapper: not"
                   class="sidebar"
                   position="end"
                   mode="over"
                   [fixedInViewport]="true"
                   [fixedTopGap]="0"
                   [fixedBottomGap]="0"
                   [opened]="active$ | async | mapper: hasActive"
                   (openedChange)="openChanged($event)">
        <employee-details-smart class="details"></employee-details-smart>
      </mat-sidenav>
      <mat-sidenav-content class="content">
        <ng-container *ngTemplateOutlet="content"></ng-container>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #content>
  <div class="row">
    <div class="column grow">
      <mat-card class="card no-shrink">
        <mat-card-header>
          <mat-card-title>Filtering</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-content">
          <employee-search-smart class="search"></employee-search-smart>
        </mat-card-content>
      </mat-card>

      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Employees</mat-card-title>
          <div class="actions">
            <button *ngIf="small$ | async; else raisedButtonTemplate"
                    class="add-employee"
                    mat-icon-button
                    (click)="onAddClick()">
              <mat-icon matTooltip="Add employee">add</mat-icon>
            </button>

            <ng-template #raisedButtonTemplate>
              <button class="add-employee"
                      mat-raised-button
                      color="primary"
                      (click)="onAddClick()">
                <mat-icon>add</mat-icon>
                Add employee
              </button>
            </ng-template>
          </div>
        </mat-card-header>
        <mat-card-content class="card-content">
          <employees-smart></employees-smart>
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngIf="large$ | async"
         class="column column_details">
      <mat-card class="card card_employee-details">
        <employee-details-smart class="details"></employee-details-smart>
      </mat-card>
    </div>
  </div>
</ng-template>



