@import '../../styles/variables';

:host {
  display: block;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  background-color: initial;
  min-height: 100%;
  height: 100%;
}

.content {
  padding: 20px;
  min-height: 100%;
  box-sizing: border-box;
}

.sidebar {
  padding: 10px 5px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  min-height: 0;

  & + & {
    margin-top: 20px;
  }

  &_employee-details {
    flex-grow: 1;
  }
}

.search {
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  min-width: 0;

  & + & {
    margin-left: 20px;
  }

  &_details {
    width: 350px;
  }
}

.grow {
  flex-grow: 1;
}

.actions {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.add-employee {
  position: relative;
  bottom: 10px;
  margin-right: 16px;
}

.card-content {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.no-shrink {
  flex-shrink: 0;
}

.tags-management {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}


@media (max-width: @m) {
  .details {
    width: 250px;
  }

  .tags-management {
    width: 270px;
  }

}

@media (min-width: @m) {
  .content {
    height: 100%;
  }
}
