<div mat-dialog-content>
  <p class="text">{{data.text}}</p>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="primary" [mat-dialog-close]="false" cdkFocusInitial>{{data.cancelText}}</button>
  <button mat-button [mat-dialog-close]="true">{{data.acceptText}}</button>
</div>
