<loader *ngIf="loading$ | async" class="loader"></loader>
<employees [employees]="employees$ | async"
           [displayedColumns]=""
           [totalCount]="totalCount$ | async"
           (limitChanged)="onLimitChanges($event)"
           (offsetChanged)="onOffsetChanged($event)"
           (tagClicked)="onTagClicked($event)"
           (sort)="onSort($event)"
           (remove)="onRemove($event)"
           (employeeClicked)="onSelected($event)"></employees>
